* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(249, 243, 230);
  position: relative;
}

.home-page-top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 1000;
  font-style: bold;
  color: rgb(121, 18, 18);
}

.left-button {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.right-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.underline {
  height: 2px;
  width: 892px;
  background-color: rgb(121, 18, 18);
  margin-top: 6px;
}

.underline-2 {
  position: absolute;
  height: 2px;
  width: 892px;
  background-color: rgb(121, 18, 18);
  margin-top: 6px;
  top: 717px;
  left: 620px;
  z-index: 21;
}

#home-page-image-container {
  display: flex;
  justify-content: center;
  margin-top: 91px;
}

#home-page-image {
  width: 412px;
  height: 550px;
  aspect-ratio: 206/275;
  opacity: 0.65;
  filter: brightness(70%);
}

.center-text {
  font-family: "Mynerve", cursive;
  font-weight: 10;
  font-style: normal;
  color: rgb(209, 39, 39);
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 70px;
}

.home-text {
  letter-spacing: 10px;
}

#first-word {
  position: absolute;
  left: 304px;
  top: 298px;
  z-index: 20;
}

#second-word {
  position: absolute;
  top: 438px;
  left: 654px;
  transform: rotate(-14deg);
  z-index: 20;
}

#third-word {
  position: absolute;
  left: 392px;
  top: 535px;
  z-index: 20;
}

.side-text {
  position: absolute;
  top: 365px;
  left: 763px;
  transform: rotate(-90deg);
  color: rgb(121, 18, 18);
  z-index: 22;
  font-family: "Mingzat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

#bottom-button {
  display: flex;
  justify-content: flex-end;
  font-family: "Kodchasan", sans-serif;
  font-weight: 1000;
  font-style: bold;
}

#about-page {
  position: fixed;
  padding-right: 30px;
  bottom: 30px;
  color: rgb(121, 18, 18);
}

#bottom-button a {
  color: rgb(121, 18, 18);
  text-decoration: none;
}

.drop-down-menu {
  width: 70px;
  height: 100%;
  position: absolute;
  top: 45px;
  right: 53px;
  display: none;
}

.menu-item {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: larger;
  color: rgb(121, 18, 18);
  display: block;
  margin-top: 10px;
}

.drop-down-menu a {
  text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(121, 18, 18);
}

#first-iframe {
  position: absolute;
  top: 300px;
  left: 100px;
  width: 600px;
  height: 600px;
  aspect-ratio: 1/1;
}

#second-iframe {
  position: absolute;
  top: 400px;
  left: 900px;
  width: 400px;
  height: 400px;
  aspect-ratio: 1/1;
  transform: scale(1.47);
}

#third-iframe {
  position: absolute;
  top: 1000px;
  left: 100px;
  width: 790px;
  height: 700px;
  aspect-ratio: 1/1;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 600px);
    grid-template-rows: repeat(3, 600px);
    width: min-content;
    object-fit: cover;
    gap: 30px;
    position: absolute;
    left: 100px;
    top: 2200px;
    padding: 10px;
    transform: scale(0.7);
    transform-origin: top left;
    bottom: 30px;
}

.grid-item iframe {
    display: block;
    /* align-items: center; */
    width: 600px;
    height: 600px;
    /* justify-content: space-around;
    position: absolute; */

}

#header {
position: absolute;
right: 280px;
font-family: Mynerve;
font-size: 100px;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #C44141;
width: 1350px;
height: 762px;
text-align: right;
padding-top: 100px;
}

#description2 {
  flex-wrap: wrap;
  width: 500px;
  position: absolute;
  left: 955px;
  padding-top: 1100px;
  font-family: Mingzat;
  font-size: 22px;
  color: rgb(121, 18, 18);
}

#title2 {
 font-family: Mingzat;
  font-size: 50px;
  position: absolute;
  left: 100px;
  padding-top: 2030px;
  color: rgb(121, 18, 18);
}