* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(249, 243, 230);
  position: relative;
}

.home-page-top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: "Kodchasan", sans-serif;
  font-weight: 1000;
  font-style: bold;
  color: rgb(121, 18, 18);
}

.left-button {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.home-button a {
  text-decoration: none;
  color: rgb(121, 18, 18);
}

.right-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

#bottom-button {
  display: flex;
  justify-content: flex-end;
  font-family: "Kodchasan", sans-serif;
  font-weight: 1000;
  font-style: bold;
}

#about-page {
  position: fixed;
  top: 800px;
  padding-right: 30px;
  color: rgb(121, 18, 18);
}

#bottom-button a {
  color: rgb(121, 18, 18);
  text-decoration: none;
}

.drop-down-menu {
  width: 70px;
  height: 100%;
  position: absolute;
  top: 45px;
  right: 53px;
  display: none;
}
.menu-item {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: larger;
  color: rgb(121, 18, 18);
  display: block;
  margin-top: 10px;
}

.drop-down-menu a {
  text-decoration: none;
}

#my-picture-container {
  display: flex;
  justify-content: flex-start;
}

#my-picture {
  height: auto;
  width: 438px;
  padding-left: 103px;
  padding-top: 100px;
}

#email-container {
  display: flex;
  justify-content: flex-start;
}

#email {
  color: rgb(121, 18, 18);
  font-family: Mingzat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 103px;
  padding-top: 58px;
}

#text-decor {
  flex-wrap: nowrap;
  color: rgba(196, 65, 65, 1);
  font-family: Mynerve;
  font-size: 70px;
  font-style: normal;
  line-height: 150px;
  transform: rotate(-11deg);
}

#about-me-text {
  position: absolute;
  left: 300px;
  font-weight: 200;
}

#about-me-text2 {
  position: absolute;
  left: 385px;
  font-weight: 200;
  top: 120px;
}

.info-text-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
  width: 835px;
  flex-wrap: wrap;
  position: absolute;
  left: 607px;
  top: 439px;
}

.info-text {
  font-family: Mingzat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgb(121, 18, 18);
}

.my-name {
  font-family: Mingzat;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgb(121, 18, 18);
  position: fixed;
  top: 330px;
  left: 1010px;
}
